header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;

}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion{
    font-size: 18px;
    
}
.producto-precio{
    font-size: 20px;
    /* color de la letra  */
    font-weight: bold;
    /* separacion de el otro en margen top de 10 px */
    margin-top: 10px;
}